<div *ngFor="let tournament of tournaments" class="tournaments-list">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{tournament.name}}</mat-card-title>
      <mat-card-subtitle>{{tournament.startDate}} - {{tournament.endDate}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="assets/download.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p> {{tournament.description}}</p>

      <mat-chip-list>
        <mat-chip *ngIf="tournament.status === 'finished'">Concluded</mat-chip>
        <mat-chip *ngIf="tournament.status === 'not started'">Not Started</mat-chip>
        <mat-chip *ngIf="tournament.status === 'in-progress'">In-progress</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" routerLink="{{tournament.id}}">VIEW DETAILS</button>
    </mat-card-actions>
  </mat-card>
</div>