
<div class="inner">
  <mat-toolbar>
    <span>Players</span>
    <span class="spacer"></span>

    <button mat-icon-button color="accent">
        <mat-icon aria-label="Add a player">add_circle</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Edit a player">edit_circle</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Delete a player?">delete_circle</mat-icon>
    </button>    
  </mat-toolbar>
  <div class="button-row actions">
    

    

    
  </div>
  <app-players-table>
  </app-players-table>
</div>